


.atlus-demo{
    background-image: url(../img/atlus.png);
    background-size: cover;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    padding-top: 30px;
}
.lgog-button{
    text-align: right;
}
.btn-danger{
    background-color: white;
    color: black;
    font-size: 16px;
    width: 120px;
    border:1px solid white;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}
.btn-danger:hover{
    background-color: white;
    color: black;
    border:1px solid white;
}
.atlus-demo-logo img{
    width: 35%;
}
.atlus-sec{
    padding-bottom: 90px;
}
.demo-img-div{
    padding: 80px 0px;
}
.demo-img-div h2{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.atlus-demo-img a img{
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 15px rgb(60 76 198 / 20%);
}
.demo-para h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
}
.demo-para p{
    color: white;
    font-size: 16px;
     font-family: 'Montserrat', sans-serif;
}
.demo-atlus-parent{
    height: 86vh;
}
.demo-para{
    position: relative;
    transform: translateY(-40%);
    top: 40%;
}
.atlus-img-content {
    padding-top: 30px;
}
.atlus-img-content h5{
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
     font-weight: 700;
}
.footer{
    background-color: black;
    padding: 100px 0px;
}
.footer-para h2{
   color: white;
   font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 45px;
}
.btn-secondary{
    background-color: white;
    border:1px solid white;
    color: black;
    width: 150px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.btn-secondary:hover{
    background-color: white;
    color: black;
}
.Inner-Sections-heading {
    padding: 0px 0px 60px 0px;
}
.Inner-Sections-heading h2{
   color: black;
   font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 45px;
}
.inner-sec-div img{
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 15px rgb(60 76 198 / 20%);
}
.inner-section{
    padding-bottom: 100px;
}
.atlus-row-2{
    padding-top: 50px;
}
.footer-para h6{
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 40px;
}









